.Students {
  @add-icon-size: 28px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 20px;

    color: #666;

    &-title {
      font-size: 1.5em;
    }

    &-add-student {
      display: flex;
      align-items: center;

      font-size: 1.1em;

      &-icon {
        width: @add-icon-size;
        height: @add-icon-size;

        margin-top: 1px;
        margin-right: 7px;
      }
    }
  }
}
